.hero{
    display: flex;
    justify-content:space-between;
    /* width: 100%; */
}

.h-left{
    padding: 1.5rem 2rem;
    /* width: 70%; */
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.h-right{
    /* width: 30%;  */
    flex: 1;
    background: var( --planCard);
    position: relative;
} 

.best-fit-ad{
    background-color: rgba(128, 128, 128, 0.397);
    
    padding: 18px 25px;
    width: fit-content;
    border-radius: 3rem;
    margin-top: 2rem;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.best-fit-ad>div{
position: absolute;
background: var( --planCard);

width:5.4rem;
height: 80%;
border-radius: 3rem;
left: 8px;
z-index: 1;

}
.best-fit-ad> span{
    /* margin-left: 70px; */
    z-index: 2;
    font-size: 15px;
    font-weight: 500;
}

.hero-text{
    display: flex;
    flex-direction: column;
    font-size: 3.7rem;
    color: #fff;
    font-weight: 800;
    gap: 1rem;
    text-transform: uppercase;
    text-overflow: inherit;
}

.hero-text>div:nth-of-type(3){
    font-size: 1rem;
    font-weight: 200 !important;
    letter-spacing: 1;
    width: 80%;
    text-transform: none;
}

.figures{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;

}
.figures>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(128, 128, 128, 0.397); */
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
}
.figures>div>span:nth-of-type(1){
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: white;
}

.figures>div>span:nth-of-type(2){
    font-weight: 400;
    font-size: 15px;
    
    text-transform: uppercase;
    color:var(--gray);
}

.hero-buttons {
display: flex;
gap: 2rem;
font-weight: normal;
padding-top: 10px;
}


.btn {
    padding: 0.7rem 1rem;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 2px;
}

 .btn:nth-child(1) {
    background: var( --planCard);

    color: white;
}
.hero-buttons .btn:nth-child(2) {
    background-color: transparent;
    color: white;
    border: 2px solid orangered;
}



.h-right button{
    position: absolute;
    right: 3rem;
    top: 2rem;
    
}

.h-right .heart-rate {
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.61);
    width: 70px;
    padding: 10px;
    font-size: 14px;
    border-radius: 15px;
    top: 7rem;
    right: 4rem;
}
.h-right .heart-rate img{
    height: 30px;
    width: 30px;
    object-fit: contain;
    z-index: 1;
}

.h-right .hero-img{
    position: absolute;
    top: 8rem;
    right: 8rem;
    width: 400px;
    height: 400px;
    z-index: 10;
    
}
.h-right .hero-img .hero-back{
    position:absolute;
    top: 1rem;
    right: 17rem;
    z-index: -1;
    width: 15rem;
}

.h-right .hero-img img{
    object-fit: cover;
    width: 100%;
   
}


@media screen and (max-width:576px) {
    .hero{
        height: 145vh;
        flex-direction: column;
    }
    .hero-text {
        font-size: 2rem;
        
    }
    .best-fit-ad {
        padding: 15px 15px;
    }

    .figures>div>span:nth-of-type(1){
        font-size: 1rem;
    
    }
    .hero-text>div:nth-of-type(3) {
        font-size: 0.9rem;
       
    }
    
    .figures>div>span:nth-of-type(2){
        font-size: 12px; 
    }
    .figures{
        gap: 1rem;
    
    }
    .figures{
      margin-left: -20px;
    }

    .h-right .hero-img {
        position: absolute;
        top: -5rem;
        right: 0rem;
        left: 0;
        width: 300px;
        height: 400px;
        z-index: 10;
    }
        

    .h-left{
        padding: 1.5rem 2rem;
        /* width: 70%; */
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
   
    
}

@media screen and (min-width:577px) and (max-width:991px) {
    .h-right .hero-img {
        top: 13rem;
        right: -1rem;
        width: 350px;
        height: 350px;
       
    }
    .h-right .hero-img .hero-back {
        position: absolute;
        top: 1rem;
        right: 8rem;
        z-index: -1;
        width: 10rem;
    }
    .hero-text {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: #fff;
    font-weight: 800;
    gap: 1rem;
    text-transform: uppercase;
    text-overflow: inherit;
    }
    .figures{
    gap: 0rem;

    }
    .figures>div>span:nth-of-type(1){
    font-size: 1rem;

    }
   .hero-text>div:nth-of-type(3) {
    font-size: 0.9rem;
   
    }
    .figures{
        margin-left: -20px;
      }

}







